@model applicationTirelire.Models.ListProdCat

@{
    ViewBag.Title = "Categorie";
}

<h2>Categorie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

   <div class="col-lg-12">
        @for (int i = 0; i < Model.ListCategories.Count; i++)
        {
       <div class="col-lg-3">
           <div class="flip-box">
               <div class="flip-box-inner">
                   
                   <div class="flip-box-front card-text">
                       <h2 class="card-title">@Model.ListCategories[i]._Categorie</h2>

                       <div style="padding:15px;">
                           <a href="" style="text-align:center;">
                               <img src="@Url.Content("~/Images/" + @Model.ListCategories[i].UrlImg)" height="220" />
                           </a>
                       </div>

                       <br />
                       <h7>
                           Pour accéder à la catégorie
                           <br />@Model.ListCategories[i]._Categorie survolez la photo
                       </h7>
                   </div>
                   <div class="flip-box-back card-text">
                       <h2>
                           Produits de catégorie
                           <br />
                           @Model.ListCategories[i]._Categorie
                       </h2>            
                       <div class="row">
                           <div class="col-lg-12 list">
                               @Html.Action("ProdCateg", "Produit", new { idCateg = Model.ListCategories[i].Idcategorie })    
                           </div>  
                       </div>
                   </div>


               </div>

           </div>
       </div>


        }
    </div>



    @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nomProd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrixProd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.statusProd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.couleur)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.capacite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.poids)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.longeur)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.largeur)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hauteur)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descriptionProd)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrixProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.statusProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrlImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.couleur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capacite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poids)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.longeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.largeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hauteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descriptionProd)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.IdProd }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdProd }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdProd })
                    </td>
                </tr>
            }

            </table>*@
