@{ 
    Layout = null;
}
@model IEnumerable<applicationTirelire.Models.Produit>
@foreach (var item in Model)
{
    <div class="col-md-4 photos">
        <div class="row">
            <div class="col-md-12">
                <a href="~/Produit/Details/@item.IdProd">
                    @if (ViewBag.Provenance == "Cat")
                    {
                        <img class="image" src="@Url.Content("~/Images/" + item.IdProd + "_" + item.UrlImage)" height="80" />
                    }
                    else
                    {
                        <img class="image" src="@Url.Content("~/Images/" + item.IdProd + "_" + item.UrlImage)" height="150" />
                    }
                </a>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-5" style="text-align:center"> @Html.DisplayFor(modelItem => item.nomProd)</div>
            @if (ViewBag.Provenance != "Cat")
            {
                <div class="text-danger col-md-6" style="text-align:left">
                    @Html.DisplayFor(modelItem => item.PrixProd)€
                </div>
            }
        </div>

        @*<div class="row aler">
                <div class="col-md-3"></div>
                @Html.ActionLink("Details", "Details", new { id = item.IdProd }, new { @class = "alert-dismissable col-md-4", @style = "text-align:center" })
                <div class="col-md-3"></div>
            </div>*@
    </div>
}
